body {
	font-family: sans-serif;
	color: #444;
	line-height: 1.5;
	font-size: 1em;
	background: lightgrey;
}
.buttons-preview {
	max-width:40em;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.link {
	font-size: 2em;
}